(
    selected_tab: Reset,
    command_fg: #eceff4,
    selection_bg: #5e81ac,
    selection_fg: #eceff4,
    cmdbar_bg: #5e81ac,
    cmdbar_extra_lines_bg: #5e81ac,
    disabled_fg: DarkGray,
    diff_line_add: #8fbcbb,
    diff_line_delete: #bf616a,
    diff_file_added: #a3be8c,
    diff_file_removed: LightRed,
    diff_file_moved: #b48ead,
    diff_file_modified: #ebcb8b,
    commit_hash: #b48ead,
    commit_time: LightCyan,
    commit_author: #a3be8c,
    danger_fg: #bf616a,
    push_gauge_bg: #5e81ac,
    push_gauge_fg: Reset,
    tag_fg: #b48ead,
    branch_fg: LightYellow,
)
